body{
    margin:0;
    padding:0;
}
.header{
    margin: 0;
    padding: 0;

}
.base{
    background-image: url("../images/Base.png");
    width: 300px;
    height: 220px;
    position: absolute;
    background-size:cover;
    left: 0;
    top: 0;
}
.button_on_off{
    background-image: url("../images/Button_on.png");
    position: absolute;
    width: 50px;
    height: 50px;
    background-size:cover;
    left: 240px;
    top: 30px;
}
.button_off{
    background-image: url("../images/Button_off.png");
    position: absolute;
    width: 50px;
    height: 60px;
    background-size:cover;
    left: 0;
    top: 0;
    left: 240px;
    top: 90px;
}
.pickup{
    background-image: url("../images/3.png");
    position: absolute;
     width: 35px;
    height: 150px;
    background-size:cover;
    left: 205px;
    top: 0;
    transform-origin: center top;
    transition: 0.3s;
    
   
}
.disk{
    background-image: url("../images/1.png");
    position: absolute;
    width: 200px;
    height: 200px;
    background-size:cover;
    left: 8px;
    top: 11px;
  
}
.disk_div{
    width: 200px;
    height: 200px;
}
.playlist{
    margin-top:250px;
}

.tracks p {
    font-size: 20px;
}
.imageTrack{
display: float;
width: 30px;
height: 30px;
}

.Track1:focus{
    background-color: blue;
    color:white;
}
.playing_bar{
transition: 0.3s;
}
.playing_bar:hover{
    background-color: blue;
    color:white;
}
svg{
    position: absolute;
    top: 0;
    fill: white;
}
#tracktime{
    position: absolute;
    left:180px;
    top:190px;
    color:whitesmoke;
  
    width: 115px;
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .9), -23px 0 20px -23px rgba(0, 0, 0, .9), 23px 0 20px -23px rgba(0, 0, 0, .9), 0 0 40px rgba(0, 0, 0, .2) inset;
}